{% extends "layout.html" %}
{% block title %}
SAORI ARTESANATO
{% endblock %}
{% block content %}
<h1>SEJA BEM VINDO AO ATÊLIE!</h1>
<main>
    <div class="gallery-container">
        <a href="{{ url_for('static', filename='barbieLaco.png')}}" class="gallery-items">
            <img src="{{ url_for('static', filename='barbieLaco.png')}}" alt="barbieLaco">
        </a>
        <a href="{{ url_for('static', filename='brasilLaco.png')}}" class="gallery-items">
            <img src="{{ url_for('static', filename='brasilLaco.png')}}" alt="brasilLaco">
        </a>
        <a href="{{ url_for('static', filename='sereiaLaco.png')}}" class="gallery-items">
            <img src="{{ url_for('static', filename='sereiaLaco.png')}}" alt="sereiaLaco">
        </a>
    </div>
</main>
{% endblock %}