{% extends "layout.html" %}
{% block title %}
SAORI ARTESANATO
{% endblock %}
{% block content %}
<h1>SEJA BEM VINDO AO ATÊLIE!</h1>


<main>
    <div class="gallery-container">
        <a href="{{ url_for('static', filename='saori.PNG')}}" class="gallery-items">
            <img src="{{ url_for('static', filename='saori.PNG')}}" alt="barbieLaco">
        </a>
        <a href="{{ url_for('static', filename='brasilLaco.PNG')}}" class="gallery-items">
            <img src="{{ url_for('static', filename='brasilLaco.PNG')}}" alt="brasilLaco">
        </a>
        <a href="{{ url_for('static', filename='sereiaLaco.PNG')}}" class="gallery-items">
            <img src="{{ url_for('static', filename='sereiaLaco.PNG')}}" alt="sereiaLaco">
        </a>
    </div>
</main>
{% endblock %}